<div class="card mb-4">
  <div class="card-body">
    <h2 class="card-title"><%= post.title %></h2>
    <p class="card-text"><%= simple_format(post.shorten_body) %></p>
    <%= link_to "Read More", post_path(post), class: "btn btn-primary" %>
  </div>
  <div class="card-footer text-muted">
    Posted on <%= time_as_word(post.created_at) %> by
    <a href="#"><%= post.user_name %></a>
  </div>
</div>
